<!DOCTYPE html>
<html>
<head>
  <title>EliteGuardians</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<% elsif controller_name != 'sessions' && controller_name != 'registrations' %>
  <%= link_to "Sign in", new_user_session_path %> or
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<% if notice %><p class="notice"><%= notice %></p><% end %>
<% if alert %><p class="alert"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>
